.hand-container {
  display: flex;
  flex-flow: column;
  gap: calc(0.5em + 50px);
}

.hand-buttons {
  display: flex;
  align-self: center;
  gap: 0.5em;
}

.hand {
  display: flex;
  justify-self: center;
}

.card {
  transition: transform 0.15s ease-in-out;
}

.card img {
  touch-action: none;
  width: 10vw;
}

.card.selected {
  transform: translateY(-50px);
}
